<mat-table [dataSource]="storylines" class="mat-elevation-z8">
  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef> Count </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.articles.count}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="concepts">
    <mat-header-cell *matHeaderCellDef> Concepts </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ul>
        <li *ngFor="let concept of element.concepts.slice(0, 5)">
          {{concept}}
        </li>
      </ul>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<!--
  <div
  class="storylines"
  infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
>
  <div
    class="storyline"
    *ngFor="let storyline of storylines; index as i;"
  >
    <div>
      {{ storyline.articles.length }}<br />
      <a [routerLink]="['/storyline', i]">Open</a>
    </div>
    <div class="concepts">
      <ul>
        <li *ngFor="let concept of storyline.concepts.slice(0, 5)">
          {{concept}}
        </li>
      </ul>
    </div>
    <div class="articles">
      <ul>
        <li *ngFor="let article of storyline.articles.slice(0, 5)">
          {{ article.title }}
        </li>
      </ul>
    </div>
  </div>
</div>
-->