<div
  #storylines
  id="storylines"
  style="display: block"
>

  <div #viewsElem id="views">
    <div (click)="selectView($event, 'all')" class='view-selected'>All Storylines</div>
    <div
      *ngFor="let item of views | keyvalue"
      (click)="selectView($event, item.key)"
      class="{{ currentView === item.key ? 'view-selected': ''}}"
    >
      {{ item.key }}
    </div>
    <div id='views-plus' (click)="addView()">+</div>
  </div>

  <div #filtersElem id='filters' style='display: none;'>
    <div class='filter-box' *ngFor="let filter of getObjectKeys(filters)">
      <div class='filter-title'>
        <span style="font-weight: bold; text-transform: capitalize;">{{ filter.title}}</span> ({{ filters[filter].size }}) <a href='#' (click)="selectAll(filter)">(Select All)</a>
      </div>
      <div class='filter'>
        <div *ngFor="let element of sortSet(filters[filter])">
          <input
            type='checkbox'
            id='checkbox-{{ filter }}-{{element}}'
            [checked]="currentView !== 'all' && views[currentView][filter].has(element)"
            (change)="applyFilter($event, filter, element)"
          />
          <label for='checkbox-{{ filter }}-{{element}}'>{{ element }}</label>
        </div>
      </div>
    </div>
  </div>

  <table
    mat-table
    [dataSource]="storylinesDataSource"
    class="mat-elevation-z8 storylines-table"
    infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
  >
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Count </th>
      <td mat-cell *matCellDef="let element">
        {{ element.articles.length }}<br />
        <a [routerLink]="" (click)="openStoryline(element.position)">Open</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="concepts">
      <th mat-header-cell *matHeaderCellDef> Concepts </th>
      <td mat-cell *matCellDef="let element">
        <ul class='storylines-table-list'>
          <li *ngFor="let concept of element.concepts.slice(0, 5)">
            {{concept}}
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="drivers">
      <th mat-header-cell *matHeaderCellDef> Drivers </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngFor="let driver of element.drivers.slice(0, 5)" (click)="driverSelect(driver)">
            {{ driver }}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="articles">
      <th mat-header-cell *matHeaderCellDef> Articles </th>
      <td mat-cell *matCellDef="let element">
        <ul class='storylines-table-list'>
          <li *ngFor="let article of element.articles.slice(0, 5)">
            {{ article.title }}
          </li>
        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div
  #storylineArticles
  id="storyline-articles"
  style="display: none"
>
  <a [routerLink]="" (click)="closeStoryline()">Close</a><br /><br />
  <table mat-table [dataSource]="articles" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element" [ngSwitch]="!!element.url">
        <span *ngSwitchCase="true"><a href="{{ element.url }}" target="_blank">{{ element.title }}</a></span>
        <span *ngSwitchCase="false">{{ element.title }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element">{{ element.doc_abstract }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedStorylineColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedStorylineColumns;"></tr>
  </table>
</div>
